body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;

	position: absolute;
	left: 15px;
	bottom: 0;
}

table {
	border: 1px solid black;
	margin: 10px;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

hr {
	margin: 1px 0;
}

.av {
	text-align: center;
}

.name {
}

.desc {
	font-size: 0.8em;
}

.tweet {
	width: 60%;
	font-size: 1.2em;
	padding: 10px;
}

.metadata {
	width: 20%;
}

#topbar {
	position: absolute;
	right: 20px;
	bottom: 5px;
}
#topdiv {
	position: relative;
	display: block;
	height: 2em;
}

#pagenav {
/*ehhhhh this is kinda annoying and doesnt fit w the vibe
    position: fixed; 
    bottom: 0%;
	width: 10em;
	border: 1px solid black;
	background-color: #fff;
	margin: 5px auto;
	left: 0;
	right: 0;
*/
	text-align: center;
	font-size: 1.2em; 
	margin: 5px;
	white-space: pre;
}

#pagenav a,
#pagenav strong {
	padding: 0 0.5em;
}
